In [113]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from config import api_key

# Import API key
#import api_keys

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)
api_key

'5af051bf1c84d1e8c82a67ab3cea456b'

## Generate Cities List

In [114]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)


# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

647

## Perform API Calls

In [115]:
# OpenWeatherMap API Key
#api_key = api_keys.api_key


# Starting URL for Weather Map API Call
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + api_key 
query_url = f"{url}&q="
query_url

'http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=5af051bf1c84d1e8c82a67ab3cea456b&q='

In [120]:
humidity = []
temp = []
cloudiness = []
lat = []
wind_speed = []
city_new = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    try:
        response = requests.get(query_url + city).json()
        humidity.append(response['main']['humidity'])
        temp.append(response['main']['temp'])
        cloudiness.append(response['clouds']['all'])
        wind_speed.append(response['wind']['speed'])
        lat.append(response['coord']['lat'])
        city_new.append(response['name'])
    except: KeyError

In [121]:
len(city_new)

579

In [122]:
weather_dict = {
    "city": city_new,
    "latitude": lat,
    "temperature": temp,
    "humidity": humidity,
    "cloudiness": cloudiness,
    "wind speed": wind_speed
}
weather_data = pd.DataFrame(weather_dict)
weather_data.head()

        city  latitude  temperature  humidity  cloudiness  wind speed
0       Nome     30.04        77.99        83           1        3.36
1  Cape Town    -33.93        57.20        87          75        8.05
2  Hithadhoo     -0.60        83.00       100          36        7.07
3    Fortuna     38.18        75.99        78          20        6.93
4      Bluff    -23.58        82.10        33           0        8.19

576